body {
  font-family:arial, sans-serif;
}

#logo {
  position: relative;
  padding: 100px 0px 5px 0px;
  margin: 10px auto 10px auto;
  text-align: center;
}

form{
  text-align: center;
}

input.bar {
  padding: 5px 4px 5px 40px;
  margin: 10px auto 10px auto;
  width: 582px;
  height:25px;
  border-radius:40px;
  text-align: left;
}

input.button {
  position:relative;
  moz-appearance: button;
  height:36px;
  font-size:14px;
  background-color:#f2f2f2;
  margin: 15px 4px;
  min-width: 150px;
  padding: 0px 16px;
  border-radius: 4px;
  text-align: center;
  border-style:solid;
  border:1px;
}

input.button:hover {
  position:relative;
  background-color:#f2f2f2;
  border: 1px;
  border-style:solid;
  border-color:#b3b3b3;
  width: 130px;
}

#searchbaricon {
  position: absolute;
  height: 15px;
  opacity: 0.5;
  padding: 22px 2px 0px 14px;
}

a {
  overflow: hidden;
  text-decoration: none;
}

a:hover {
  text-decoration: em;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px; 
  font-size: 12px;
}

li {
  float: left;
  display: inline;
  padding: 10px 5px 20px 5px;
  width: 55px;
  text-decoration:none;
  text-align: center;
  overflow: hidden;
}


